.fa{
  color:#992f4d;
}
li a{
  font-size:30px;
  font-weight: bold;
  color:black;
  transition:1s;
}
li a :hover{
  color:red;
 
}
.ABC{
  text-align: center;
}
.party-hire{
  background-color:#992f4d;
  height: 150px; 
  border-bottom:rgba(255, 255, 255, 0.171) 8px solid;
}
.heading{
  text-align:center; 
  color:burlywood;
  font-weight:bold;
  padding-top:25px;
  font-size:60px
}
.subheading{
  text-align: center;
  font-size: 25px;
  color:burlywood
}
