#box-1{
   background:url(../../assets/images/TAPETA-BIALA-CEGLA-FLIZELINA-KAMIEN-3D.jpg);
    border-top:#992f4d 8px solid;
    border-bottom:#992f4d 35px solid
}
.middle-heading{
    text-decoration: underline;
    text-align: left;
}
.box-heading{
    color:#992f4d;
    font-weight:bold;
}
#subbox-1{
   border-top:#992f4d 5px solid; 
}
#box-2{
    background-color: violet;
    border-top: rgba(230, 48, 184, 0.726) 8px solid;
}
#box-3{
    background-color: rgba(175, 230, 48, 0.966);
    /* background-color: white; */
    border-top: rgba(230, 106, 48, 0.548) 8px solid;
}
#box-4{
    background: url(../../assets/images/TAPETA-BIALA-CEGLA-FLIZELINA-KAMIEN-3D.jpg);
    border-top:#992f4d 8px solid;
    border-bottom:#992f4d 35px solid;
}
#sqaure1{
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
transition: 0.5s;
transform:scale(.9);
z-index: -1;
}
#square1:hover{
    transform:scale(1.1);
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74); 
    background-image: linear-gradient(to right top, #270805, #521719, #832526, #b63531, #eb473a);
    color:white;
}
#sqaure2{
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
transition: 0.5s;
transform:scale(.9);
z-index: -1;
}
#square2:hover{
    transform:scale(1.1);
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);  
    background-image: linear-gradient(to right top, #270805, #521719, #832526, #b63531, #eb473a);
    color:white;
}
#sqaure3{
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
transition: 0.5s;
transform:scale(.9);
z-index: -1;
}
#square3:hover{
    transform:scale(1.1);
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
    background-image: linear-gradient(to right top, #270805, #521719, #832526, #b63531, #eb473a);
    color:white;
}
#sqaure4{
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
transition: 0.5s;
transform:scale(.9);
z-index: -1;
}
#square4:hover{
    transform:scale(1.1);
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);  
    background-image: linear-gradient(to right top, #270805, #521719, #832526, #b63531, #eb473a);
    color:white;
}
#sqaure5{
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
transition: 0.5s;
transform:scale(.9);
z-index: -1;
}
#square5:hover{
    transform:scale(1.1);
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
    background-image: linear-gradient(to right top, #270805, #521719, #832526, #b63531, #eb473a);
    color:white; 
}
#sqaure6{
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
transition: 0.5s;
transform:scale(.9);
z-index: -1;
}
#square6:hover{
    transform:scale(1.1);
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);  
    background-image: linear-gradient(to right top, #270805, #521719, #832526, #b63531, #eb473a);
    color:white;
}




