<section class="mainone">
<br>
<br>
<div class="container" id ="box-1">
    <br>
    <br>
    <h1 class="box-heading">We create event that lasts.....</h1>
    <br>
    <div class="container" id="subbox-1">
      <br>
      <br>
        <div class="row">
    <div class="card-container col-lg-8 offset-lg-2">
        <div class="card col-lg-4 offset-lg-1" id="innercard" style="width: 18rem; float:left;border-top: darkcyan 8px solid;border-radius:20px">
            <div class="card-body">
              <h2 class="card-title" style="font-weight:bold;text-align: center;color:darkcyan">our mission</h2>
              <p class="card-text" style="text-align: center;">To provide our clients with the most amazing event planning and decoration services & to manage all aspects of yours.</p>
            </div>
          </div>
          <div class="card col-lg-4 offset-lg-2"id="innercard" style="width: 18rem; float:left;border-top:violet 8px solid;border-radius:20px">
              <div class="card-body">
                <h2 class="card-title"style="font-weight:bold;color:violet;text-align:center">our goal</h2>
                <p class="card-text"style="text-align: center;">From the planning process to the production of the events is a stress-free & positive experience that goes exactly as planned.</p>
              </div>
            </div>
        </div>
        </div>
        </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
    <div class="card-container col-lg-8 offset-lg-2">
        <div class="card col-lg-4 offset-lg-1"id="innercard" style="width: 18rem; float:left;border-top:rgba(206, 206, 25, 0.822) 8px solid;border-radius:20px ">
            <div class="card-body">
              <h2 class="card-title"style="font-weight:bold;text-align:center;color:rgba(206, 206, 25, 0.822)">our vission</h2>
              <p class="card-text"style="text-align: center;">To be the first choice for event planning in your city & To transforms the clients dreams in an event of a lifetim..</p>
            </div>
          </div>
          <div class="card col-lg-4 offset-lg-2"id="innercard" style="width: 18rem; float:left;border-top:rgba(60, 104, 226, 0.822) 8px solid;border-radius:20px">
              <div class="card-body">
                <h3 class="card-title"style="font-weight:bold; text-align: center;color:rgba(60, 104, 226, 0.822)" >our approach</h3>
                <p class="card-text"style="text-align: center;">Our approach is very "hands-on"; we will manage all services required to make your event a success. </p>
              </div>
            </div>

        </div>
        </div>
        </div>
     <br>
</div>
<br>
<br>
<!-- --------------------why choose us?-------------------------------------------------- -->
<div class="card mb-3 col-lg-12 " style="padding-right:0px ;padding-left:0px;height:650px;border-top:#992f4d 8px solid" >
  <div class="row no-gutters">
    <div class="col-md-4 col-lg-5">
      <img src="../../assets/images/18-180886_wedding-clip-art-png-wedding-couple-vector-png.png" class="card-img" style="height:640px" alt="...">
    </div>
    <div class="col-md-8 col-lg-7"style="height:600px">
      <div class="card-body">
      <h1 class="choose"style="text-decoration:underline;color:#992f4d">Why choose us...?</h1>
      <br>
      <br>
        <h4 class="card-title"style="font-weight: 700;font-size:30px; text-align:center;color:#a19082;">
            <a href="#"> 
          <i class="fas fa-glass-cheers" style="font-size:50px;color:#a19082;" aria-hidden="true"></i></a>
          Dedicated venue arrangements:-</h4>
        <p  class="para"style="color:#a19082;text-align:center">We offer our clients a full holistic solution incorporating venue management, catering, venue and venue programming, event design, exhibition and event organisation.We have years of experience in special event management and offer a unique service, which begins with sourcing the right venue, to organising and managing all the various aspects of your event or party. </p>
        <br>
        <h4 class="card-title" style="font-weight: 700; font-size:30px;text-align: center;color:#a19082;">
            <a href="#">
                <i class="far fa-heart"style="font-size:50px;color:#a19082;" aria-hidden="true"></i></a>
                The event specialists:- </h4>
            <p  class="para"style="color:#a19082;text-align:center">with our experienced team of professionals, we ensure the success of your evet.Evolving with the times. We have amazing technology platforms which will  help you to run your event and get the most out of it.we treasure and care for all our clients and we are prepared to go that extra mile to make each event unique and memorable.</p>
        <br>
        <h4 class="card-title"style="font-weight: 700; font-size:30px; text-align:center;color:#a19082;">
            <a href="#"> 
            <i class="fab fa-canadian-maple-leaf"style="font-size:50px;color:#a19082;"></i></a>
          all types of events:-</h4>
        <p class="para"style="color:#a19082;">We will oversee and run the entire event from start to finish, leaving you free to enjoy your event and play special host to your guests. We create the ambiance in your venue, whether you choose the venue or we find it for you, be it a hotel, a stately home, a marquee or even your own home!</p>
      <br>
      <br>
      <br>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container" style="background-image: linear-gradient(to right top, #270805, #521719, #832526, #b63531, #eb473a);">
  <br>
  <br>  
  <h1 class="offer"style="color:white">What we offer.....?</h1>
  <br>
  <div class="card-deck" >
        <div class="card"id="square1"style="border-radius:20px">
          <br>
          <br>
          <br>
         <H5><i class="fas fa-handshake"style="text-align:center;padding-left:130px;font-size:60px"></i></H5>
         <h2 class="tag"style="text-align:center">Freindly Team</h2>
         <p class="subtag"style="text-align:center">More than 200 teams</p>
        </div>
        <div class="card"id="square2"style="border-radius:20px">
          <br>
          <br>
          <br>
        <H5><i class="fas fa-dungeon"style="text-align:center;padding-left:130px;font-size:60px"></i></H5>
        <h2 class="tag"style="text-align:center">Unique scenarios</h2>
         <p class="subtag"style="text-align:center">We thinking out of the box</p>
        </div>
        <div class="card"id="square3"style="border-radius:20px">
          <br>
          <br>
          <br>
         <H5><i class="fas fa-vihara"style="text-align:center;padding-left:130px;font-size:60px"></i></H5>
         <h2 class="tag"style="text-align:center">Perfect Venues</h2>
         <p class="subtag"style="text-align:center">Unique venues</p>
        </div>
      </div>
<br>
      <div class="card-deck">
          <div class="card"id="square4"style="border-radius:20px">
              <br>
              <br>
              <br>
             <H5><i class="fas fa-phone-volume"style="text-align:center;padding-left:130px;font-size:60px"></i></H5>
             <h2 class="tag"style="text-align:center">24/7 Hours Support</h2>
             <p class="subtag"style="text-align:center">Anytime, Anywhere</p>
            </div>
            <div class="card"id="square5"style="border-radius:20px">
                <br>
                <br>
                <br>
               <H5><i class="fas fa-lightbulb" style="text-align:center;padding-left:140px;font-size:60px"></i></H5>
               <h2 class="tag"style="text-align:center">Brilliants Ideas</h2>
               <p class="subtag"style="text-align:center">We have million ideas</p>
              </div>
              <div class="card"id="square6"style="border-radius:20px">
                  <br>
                  <br>
                  <br>
                 <H5><i class="fas fa-users" style="text-align:center;padding-left:130px;font-size:60px;"></i></H5>
                 <h2 class="tag"style="text-align:center">Best Management </h2>
                 <p class="subtag"style="text-align:center">We make your event perfect</p>
                </div>
        </div>
        <br>
        <br>
</div>
    <br>
    <br>

    <!-- -------------------------our team-------------------------------------------------- -->

     <div class="container" id ="box-4">
      <br>
      <h1 class="team"style="color:#992f4d;text-align:center;font-weight:bold;font-size:60px">Our Team......</h1>
      <br>
      <div class="container" id="sub-box"style="border-top:#992f4d 3px solid">
       <br>
        <div class="card-deck">
          <div class="card col-lg-3" style="padding-left:0px;padding-right:0px;border:white;border-radius:20px;">
            <img src="../../assets/images/user4.jpg" class="card-img-top"style="border-radius:20px;">
            <div class="card-body">
              <h5 class="card-title" style="text-decoration: underline;">Abby Thomsas</h5>
              <p class="card-text">(Designation)</p>
            </div>
          </div>
          <div class="card col-lg-3"style="padding-left:0px;padding-right:0px;border:white;border-radius:20px;">
            <img src="../../assets/images/user4.jpg" class="card-img-top"style="border-radius:20px;">
            <div class="card-body">
              <h5 class="card-title"style="text-decoration: underline;">Jackson Williams</h5>
              <p class="card-text">(Designation)</p>
            </div>
          </div>
          <div class="card col-lg-3"style="padding-left:0px;padding-right:0px;border:white;border-radius:20px;">
            <img src="../../assets/images/user4.jpg" class="card-img-top"style="border-radius:20px;">
            <div class="card-body">
              <h5 class="card-title"style="text-decoration: underline;">Emilly Dawson</h5>
              <p class="card-text">(Designation)</p>
            </div>
          </div>
          <div class="card col-lg-3"  style="padding-left:0px;padding-right:0px;border:white;border-radius:20px;">
            <img src="../../assets/images/user4.jpg" class="card-img-top"style="border-radius:20px;">
            <div class="card-body">
              <h5 class="card-title"style="text-decoration: underline;">Nick Wesley</h5>
              <p class="card-text">(Designation)</p>
            </div>
          </div>
        </div>
        <br>
      </div>
      </div>
      <br>
      <br>
      </section>